<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <nav>
        <a class="button" routerLink="home">Home</a>
        <a class="button" routerLink="login">Login</a> |
        <a class="button" routerLink="register">SignUp</a>
      </nav>
</head>
<body>
    
</body>
</html><!-- <div class="container">
    s<a routerLink="login"></a>
    <a routerLink="register"></a>
</div> -->
<app-register></app-register>
<router-outlet></router-outlet>
<!-- routerLink="/crisis-list" -->
<app-admin-location></app-admin-location>